/* Hele siden */

* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    width: 250px;
}

h2 {
    font-family: 'Space Mono', monospace;
}

h3 {
    font-family: 'Space Mono', monospace;
}

p {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 15rem;
}

#sticky {
    position: ;
    top: 0;
    width: 100%;
    background-color: white;
}

topright {
    padding-top: 2rem;
}
.genre {

    background-image: url(IMG/baggrundgenre.png);

    background-position: center;

    background-size: cover;

    height: 8rem;

    width: 8rem;

    text-align: center;

    font-family: 'Space Mono', monospace;
}

/* top nav */

#top {
    height: 5vh;
    background-color: black;
    color: white;
    display: flex;
}

#top p {
    margin: auto;
    text-transform: uppercase;
}

/* header */

header {
    height: 22vh;
    background-image: url(IMG/Header.jpg);
    background-position: center;
    background-size: 800px;
}

/* Genre nav */

span {
    background-image: linear-gradient(to left, #F6BBA4, #FBF2AA, #A4CAF6);
    -webkit-background-clip: text;
    color: transparent;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #F3F3F3;
    border: 0;
    border-bottom: 6px solid #C7C7C7;
    border-radius: 50px;
    width: 80px;
    height: 30px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #e2e2e2;
    border-bottom: 6px solid #b1b1b1;
}

.valgt {
    background-color: #232323;
    border-bottom: 6px solid #121212;
    color: #ffffff;
}

.genre_tag {
}

/* loop view */

#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    margin-top: 600px;
}

article {
    background-color: lightpink;
    border-radius: 20% 20% 10% 10%;
    cursor: pointer;
}

article:hover {
    color: #c5cae2;
    background-color: aliceblue;
}

article p {
    width: 200px;
}

.navn {
    font-family: 'Space Mono', monospace;
    font-size: 1.8em;
    font-weight: bolder;
    text-transform: uppercase;
}

.se-mere {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 80px;
}

/* single view */

colleft img {
    width: 50rem;
        border-radius: 5rem;

}

.single {
    padding-top: 5rem;
    padding: 50px;
    border-radius: 5rem;
    color: black;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr;
    grid-column-gap: 10rem;
    background-color: rgb(255, 255, 255);
}

/* footer */

footer {
    height: 15vh;
    background-color: black;
}

/* Media Query */
colleft img {
    width: 50rem;
}


@media only screen and (min-width: 800px) {

    h1 {
        width: 100%;
        padding-top: 15vh;
        letter-spacing: 0.3em;
    }

    #top {
        display: inherit;
    }

    #top p {
        float: right;
        padding: 10px 20px;
    }

    header {
        height: 40vh;
        background-size: cover;

    }

    article p {
        width: 400px;
    }

}
